body {
  background: transparent;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  position: relative;
}

.desktop-icon {
  width: 64px;
  text-align: center;
  cursor: default;
  color: white;
  user-select: none;
  position: absolute;
  font-family: "LeviWindows", sans-serif;
}
.desktop-icon div {
  font-size: 20px;
  margin-top: -5px;
}
.desktop-icon img {
  width: 32px;
  height: 32px;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
}

.window {
  position: absolute;
  display: none;
  z-index: 10;
  width: 500px;
}

.window .title-bar {
  background: linear-gradient(to right, #5b2c6f, #af7ac5);
  border-bottom: 2px solid #6c3483;
  color: white;
  cursor: default;
  user-select: none;
}

.banner {
  padding: 5px 10px;
  border-bottom: 1px solid #999;
  user-select: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
  margin: 0;
}
.banner b {
  font-weight: bold;
}

.scroll-banner {
  height: 24px;
  overflow: hidden;
  pointer-events: none;
  margin-bottom: 4px;
}
.scroll-content {
  display: flex;
  gap: 0;
  animation: scroll-left 40s linear infinite;
  height: 100%;
}
.scroll-content img {
  image-rendering: pixelated;
  height: 100%;
  flex-shrink: 0;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.yt-window {
  width: 430px;
  padding: 3px;
}
.yt-body {
  height: 240px;
  padding: 0;
}

.three-columns {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.column {
  background: white;
  padding: 8px;
  border: 1px solid #888;
  font-family: "LeviWindows", sans-serif;
  font-size: 14px;
  color: black;
}
.column.narrow {
  flex: 1;
}
.column.wide {
  flex: 2;
}
